$offBlack: #0f0a0a;
$offWhite: #eaf2ef;
$backColorFirst: #7be5ab;
$backColorFourth: #bbef83;
$backColorThird: #e85868;
$backColorFifth: #fbd1a2;
$backColorSecond: #e9d758;
$backColorSixth: #ffc857;
// $colortertiary: not sure
$fontPrimary: 'Rubik',
sans-serif;
$fontSecondary: 'Roboto Mono',
monospace;

html, body {
    scroll-behavior: smooth;
    background-color: $offBlack;
    color: $offWhite;
    font-size: 125%;
    
}

body {
    // height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header
{
    width: 95vw;
    height: 100vh;
    // max-height: 2000px;
    max-width: 3840px;
    // 568
    min-height: 1000px;
    // min-width: 320px;
}

li {
    list-style: none;
}
ul{
    padding-left:0;
}

h1,
h2,
h3,
h4 {
    font-family: $fontPrimary;
    font-weight: 300;
    margin: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

p,
li {
    font-size: 1rem;
    font-family: $fontSecondary;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
    // width:50%;
    // padding:2%;
}

.myDevIcon {
    font-size: 2rem;
    color: $backColorSecond;
}