header,
.innerLayerHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header,
.innerLayer {}

header {
    // border: 3px solid green;
    background-color: $offBlack;
    color: $backColorFirst;
    align-items: center;

}

.logo {
    position: fixed;
    top: 7%;
    right: 7%;
}

.logoColor {
    color: $backColorThird;
}

.directionalNav {
    position: fixed;
    top: 7%;
    left: 1%;

    ul {
        display: flex;
    }

    li {
        margin: 0 20px;
    }
}

.innerLayer {
    width: 90%;
    height: 90%;
    // padding: 5%;
}

.innerColorOne {
    border-top: 2px solid $backColorThird;
    border-bottom: 2px solid $backColorThird;
}

.socialMediaNav {
    position: fixed;
    left: 0;
    bottom: 5%;

    ul {
        display: flex;
    }

    li {
        margin: 0 60px;
    }
}

.hiddenOne {
    display: none;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}