.portfolioOne aside {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid $backColorThird;
    border-radius: 20px;
    margin: 5%;
}

.portfolioOne article {
    width: 40%;
    margin: 5%;
}

.portfolioTwo aside {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid $backColorThird;
    border-radius: 20px;
    margin: 5%;
}

.portfolioTwo article {
    width: 40%;
    margin: 5%;
}

.portfolioThree aside {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid $backColorThird;
    border-radius: 20px;
    margin: 5%;
}

.portfolioThree article {
    width: 40%;
    margin: 5%;
}

.aboutMe aside {
    width: 10%;
    display: flex;
    // margin-bottom:45%;
    //     justify-content: center;
    //     align-items: center;
    //     flex-direction: column;
    //     border: 3px solid $backColorThird;
    //     border-radius: 20px;
    //     margin: 5%;
}

.aboutMe article {
    width: 70%;
    margin: 5%;
}

.picturePerfect {
    display: flex;
    align-items: center;
}

.portfolioOne,
.portfolioTwo,
.portfolioThree,
.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlight {
    color: $backColorThird;
}

.portfolioInnerOne {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioInnerAbout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioOne {
    // border: 3px yellow solid;
    color: $backColorFirst;
    background-color: $offBlack;
}

.portfolioTwo {
    // border: 3px orange solid;
    color: $backColorFirst;
    background-color: $offBlack;
}

.portfolioThree {
    // border: 3px purple solid;
    color: $backColorFirst;
    background-color: $offBlack;
}

// .innerColorTwo {
//     border-top: 2px solid $backColorThird;
//     border-bottom: 2px solid $backColorThird;
// }

// .innerColorThree {
//     border-top: 2px solid $backColorThird;
//     border-bottom: 2px solid $backColorThird;
// }

// .innerColorThree {
//     border-top: 2px solid $backColorFourth;
//     border-bottom: 2px solid $backColorFourth;
// }

.projectOnePic {
    width: 90%;
    margin: 10% 0 10% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projectTwoPic {
    width: 90%;
    margin: 10% 0 10% 0;
    // height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.projectThreePic {
    width: 90%;
    margin: 10% 0 10% 0;
    // height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.projThreeBox {
    border: 3px solid $backColorSecond;
    width: 300px;
    height: 70px;
    // border-radius: 20px;
    flex-shrink: 1;
    // margin-top: 10px;
    margin: 10% 0 10% 0;
    // margin-bottom: 5px;
}

.projTwoBox {
    border: 3px solid $backColorSecond;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    flex-shrink: 1;
    margin: 1% 0 1% 0;

}

.projOneBox {
    border: 3px solid $backColorSecond;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    flex-shrink: 1;
}

.projectOneButton {
    border: 3px solid $backColorThird;
    border-radius: 20px;
    width: 150px;
    // height: 60px;
    padding: 1%;
    margin-bottom: 3%;
    text-align: center;
}

.projectTwoButton {
    border: 3px solid $backColorThird;
    border-radius: 20px;
    width: 180px;
    // height: 60px;
    padding: 1%;
    margin-bottom: 3%;
    text-align: center;
}

.projectThreeButton {
    border: 3px solid $backColorThird;
    border-radius: 20px;
    width: 180px;
    // height: 60px;
    margin-bottom: 3%;
    text-align: center;
}

.projectSecondPic {
    // border: 3px solid black;
}

.projectTThirdPic {
    // border: 3px solid black;
}

.aboutMe {
    background-color: $offBlack;
    color: $backColorFirst;

    img {
        border: 3px solid $backColorThird;
        // border-radius: 50%;
        width: 100px;
        // height:50%;
    }
}

.skills {
    display: flex;
    // justify-content: center;

    div {
        padding: 0 5% 0 5%;
    }

    i {
        color: $backColorThird;
        width: 80%;
    }
}

.aboutTitle {
    // margin-left: 5%;
}

//SFX for button

.projectOneButton {
    z-index: 1;
    position: relative;
    // font-size: inherit;
    // font-family: inherit;
    // color: white;
    // padding: 0.5em 1em;
    // outline: none;
    // border: none;
    background-color: $offBlack;
    border: 3px solid $backColorThird;
    border-radius: 20px;
    width: 150px;
    // height: 60px;
    padding: 1%;
    margin-bottom: 3%;
    text-align: center;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.projectOneButton::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: $backColorFirst;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.projectOneButton:hover {
    cursor: pointer;
    color: $backColorThird;
}

.projectOneButton:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}