@media (max-width:1100px) {

    .portfolioOne aside {
        margin: 1%;
        width: 40%;
    }

    .portfolioOne article {
        margin: 1%;
        width: 50%;
    }

    .portfolioTwo aside {
        margin: 1%;
        width: 40%;
    }

    .portfolioTwo article {
        margin: 1%;
        width: 50%;
    }

    .portfolioThree aside {
        width: 40%;
        margin: 1%;
    }

    .portfolioThree article {
        width: 50%;
        margin: 1%;
    }
}

@media (max-width:870px) {
    .portfolioInnerOne {
        flex-direction: column-reverse;
    }

    .portfolioInnerTwo {
        flex-direction: column;
    }

    .portfolioInnerThree {
        flex-direction: column-reverse;
    }

    .portfolioOne aside {
        margin: 1%;
        width: 98%;
    }


    .portfolioOne article {
        margin: 1%;
        width: 98%;
    }

    .portfolioTwo aside {
        margin: 1%;
        width: 98%;
    }

    .portfolioTwo article {
        margin: 1%;
        width: 98%;
    }

    .portfolioThree aside {
        width: 98%;
        margin: 1%;
    }

    .portfolioThree article {
        width: 98%;
        margin: 1%;
    }

    .directionalNav {

        a {
            width: auto;
        }

        ul {
            justify-content: space-between;
            width: 100%;
        }

        li {
            margin: 0;
        }
    }

    .socialMediaNav {
        width: 100%;

        a {
            width: auto;
        }

        ul {
            justify-content: space-between;
            width: 100%;
        }

        li {
            margin: 0;
        }
    }

    h2 {
        font-size: 3rem;
    }

    .myDevIcon {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

}