article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  background-color: #0f0a0a;
  color: #eaf2ef;
  font-size: 125%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header,
.portfolioOne,
.portfolioTwo,
.portfolioThree,
.aboutMe,
footer {
  width: 95vw;
  height: 100vh;
  max-height: 2160px;
  max-width: 3840px;
  min-height: 568px;
  min-width: 320px;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

p,
li {
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

.myDevIcon {
  font-size: 1.8rem;
  color: #e9d758;
}

header,
.innerLayerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-color: #0f0a0a;
  color: #7be5ab;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  position: fixed;
  top: 8.2%;
  right: 7%;
}

.logoColor {
  color: #e85868;
}

.directionalNav {
  position: fixed;
  top: 7%;
  left: 1%;
}

.directionalNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.directionalNav li {
  margin: 0 20px;
}

.innerLayer {
  width: 90%;
  height: 90%;
}

.overlay {
  position: fixed;
  width: 95vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.innerLay {
  position: fixed;
  width: 90%;
  height: 90%;
  border-top: 2px solid #e85868;
  border-bottom: 2px solid #e85868;
}

.socialMediaNav {
  position: fixed;
  left: 0;
  bottom: 5%;
}

.socialMediaNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialMediaNav li {
  margin: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.hiddenOne {
  display: none;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.socNav {
  background: none;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 0 2px #7be5ab;
          box-shadow: inset 0 0 0 2px #7be5ab;
  color: #7be5ab;
  font-size: inherit;
  position: relative;
  vertical-align: middle;
}

.socNav::before, .socNav::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
}

.spin {
  width: 50px;
  height: 50px;
  padding: 0;
}

.spin:hover {
  color: #e85868;
}

.spin::before, .spin::after {
  top: 0;
  left: 0;
}

.spin::before {
  border: 2px solid transparent;
}

.spin:hover::before {
  border-top-color: #e85868;
  border-right-color: #e85868;
  border-bottom-color: #e85868;
  -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

.spin::after {
  border: 0 solid transparent;
}

.spin:hover::after {
  border-top: 2px solid #e85868;
  border-left-width: 2px;
  border-right-width: 2px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
  transition: border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
}

.circle {
  border-radius: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.circle::before, .circle::after {
  border-radius: 100%;
}

.socNav {
  isolation: isolate;
}

.toolsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toolsList div {
  padding: 0 6% 0 0;
}

.portfolioOne aside {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #e85868;
  border-radius: 20px;
  margin: 5%;
}

.portfolioOne article {
  width: 40%;
  margin: 5%;
}

.portfolioTwo aside {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #e85868;
  border-radius: 20px;
  margin: 5%;
}

.portfolioTwo article {
  width: 40%;
  margin: 5%;
}

.portfolioThree aside {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #e85868;
  border-radius: 20px;
  margin: 5%;
}

.portfolioThree article {
  width: 40%;
  margin: 5%;
}

.aboutMe aside {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutMe article {
  width: 70%;
  margin: 5%;
}

.picturePerfect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolioOne,
.portfolioTwo,
.portfolioThree,
.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.highlight {
  color: #e85868;
}

.portfolioInnerOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolioInnerAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolioOne {
  color: #7be5ab;
  background-color: #0f0a0a;
}

.portfolioTwo {
  color: #7be5ab;
  background-color: #0f0a0a;
}

.portfolioThree {
  color: #7be5ab;
  background-color: #0f0a0a;
}

.projectOnePic {
  width: 90%;
  margin: 10% 0 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectTwoPic {
  width: 90%;
  margin: 10% 0 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectThreePic {
  width: 90%;
  margin: 10% 0 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projThreeBox {
  border: 3px solid #e9d758;
  width: 300px;
  height: 70px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: 10% 0 10% 0;
}

.projTwoBox {
  border: 3px solid #e9d758;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: 1% 0 1% 0;
}

.projOneBox {
  border: 3px solid #e9d758;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.aboutMe {
  background-color: #0f0a0a;
  color: #7be5ab;
}

.aboutMe img {
  border: 3px solid #e85868;
  width: 100px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills div {
  padding: 2% 13% 3% 0;
}

.skills i {
  color: #e9d758;
  width: 80%;
}

.projectOneButton,
.projectTwoButton,
.projectThreeButton {
  z-index: 1;
  position: relative;
  background-color: #0f0a0a;
  border: 3px solid #e85868;
  border-radius: 20px;
  padding: 1%;
  margin-bottom: 3%;
  text-align: center;
  overflow: hidden;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.projectOneButton::before,
.projectTwoButton::before,
.projectThreeButton::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: #7be5ab;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
          transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

.projectOneButton:hover,
.projectTwoButton:hover,
.projectThreeButton:hover {
  cursor: pointer;
  color: #e85868;
}

.projectOneButton:hover::before,
.projectTwoButton:hover::before,
.projectThreeButton:hover::before {
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
          transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.direction {
  position: relative;
  padding: 3px;
  cursor: pointer;
}

.direction::before,
.direction::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #e85868;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.direction::before {
  top: 0;
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

.direction:hover::before {
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.direction::after {
  bottom: 0;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.direction:hover::after {
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

footer {
  background-color: #ffc857;
}
/*# sourceMappingURL=style.css.map */